body{
    background-color: black;
}
p{
    text-align: center;
    color: white;
}
div{
    justify-content: center;
    padding: 1px;
    width:160px;
    background-color: rgb(119, 0, 255);
    align-items: center;
    left: 200px;
}
#magic{
    margin-left: 630px;
}
.start{
    margin-top: 200px;
}